/* Common */
@font-face {
  font-family: 'Balsamiq';
  font-weight: 400;
  src: url(../public/font/BalsamiqSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Balsamiq';
  font-weight: 700;
  src: url(../public/font/BalsamiqSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Coiny';
  font-weight: 400;
  src: url(../public/font/Coiny-Regular.woff2) format('woff2');
}

/* Variable */
:root {
  --color-text: #333;
  --color-white: #fff;
  --color-gray: #a4acaf;
  --color-yellow: #eed535;
  --color-red: #fd7d24;
  --color-purple: #b97fc9;
  --color-green: #9bcc50;
  --color-green2: #729f3f;
  --color-pink: #f366b9;
  --color-skyblue: #51c4e7;
  --color-blue: #4592c4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea,
button {
  font-family: "Balsamiq", sans-serif;
  color: var(--color-text);
}

body {
  background-image: url(../public/images/background-page.jpg);
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

input {
  outline: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap {
  padding-top: 120px
}

.inner {
  width: 80vw;
  margin: 0 auto;
}

.thumb {
  overflow: hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  cursor: pointer;
}

/* Head */
.head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0;
  transition: 0.2s;
}

.head.header-fixed {
  background-color: var(--color-blue);
}

.head.header-fixed .head-title {
  color: var(--color-white);
}

.head .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-title {
  font-size: 36px;
  transition: 0.2s;
}

.controls {
  display: flex;
}

.controls .input-search {
  width: 200px;
  height: 36px;
  padding: 0 12px;
  border-color: var(--color-text);
  font-size: 16px;
}

.controls .filter {
  position: relative;
  width: 200px;
  margin-left: 16px;
  z-index: 5;
}

.controls .filter .options {
  display: none;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 180px;
  overflow: auto;
  border: 2px solid var(--color-text);
}

.controls .filter.is-show .options {
  display: block;
}

.controls .filter .options::-webkit-scrollbar {
  width: 8px
}

.controls .filter .options::-webkit-scrollbar-track {
  background-color: var(--color-white)
}

.controls .filter .options::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: 100px
}

.controls .filter .options::-webkit-scrollbar-thumb:hover {
  background: #3f96d9;
  -webkit-text-size-adjust: none;
}

.controls .filter .option {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 36px;
  padding: 2px 36px 0 12px;
  background-color: var(--color-white);
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}

.controls .filter .option .ic {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 14px;
  transform: translateY(-50%);
}

.controls .filter .option .ic-arrow {
  right: 18px;
}

.controls .filter.is-show .option .ic-arrow {
  transform: translateY(-50%) rotate(180deg);
}

.controls .filter .option:hover, .controls .filter .option.selected {
  background-color: #f2f2f2;
}

.controls .filter .option-selected {
  border-color: var(--color-text);
}

/* Card */
.list .inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list .card {
  flex: 0 0 calc(25% - 15px);
  position: relative;
  overflow: hidden;
  padding: 16px;
  border: 10px solid transparent;
  border-image: url(../public/images/border-img.png) 30;
  border-radius: 12px;
  background-color: var(--color-white);
  box-shadow: 0 1px 6px 1px rgb(0 0 0 / 30%);
  cursor: pointer;
}

.list .card .thumb {
  padding: 0 60px;
  text-align: center;
}

.list .card .thumb .img {
  max-width: 180px;
}

.list .card .thumb .id {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 50px;
  background-color: var(--color-gray);
  color: var(--color-white);
}

.list .card .thumb .id, .type {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding-top: 1px;
  border-radius: 100px;
  font-size: 12px;
}

.list .content {
  margin-top: 10px;
  text-align: center;
}

.list .content .types {
  display: flex;
  justify-content: center;
  margin: 0 auto 10px;
}

.list .content .type {
  width: 60px;
  border-radius: 4px;
}

.list .content .type+.type {
  margin-left: 6px;
}

.type {
  color: var(--color-white);
}

.type.normal {
  background-color: var(--color-gray);
}

.type.electric {
  background-color: var(--color-yellow);
  color: var(--color-text);
}

.type.fire {
  background-color: var(--color-red);
}

.type.grass {
  background-color: var(--color-green);
  color: var(--color-text);
}

.type.poison {
  background-color: var(--color-purple);
}

.type.ice {
  background-color: var(--color-skyblue);
}

.type.water {
  background-color: var(--color-blue);
}

.type.psychic {
  background-color: var(--color-pink);
}

.type.rock {
  background-color: #a38c21;
}

.type.bug {
  background-color: var(--color-green2);
}

.type.fairy {
  background-color: #fdb9e9;
  color: var(--color-text);
}

.type.fighting {
  background-color: #d56723;
}

.type.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: var(--color-text);
}

.type.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: var(--color-text);
}

.type.steel {
  background-color: #9eb7b8;
  color: var(--color-text);
}

.type.ghost {
  background-color: #7b62a3;
}

.type.dark {
  background-color: #707070;
}

.list .content .name {
  font-size: 18px;
  text-transform: capitalize;
}

/* Layer */
.layer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: 800px;
  border-radius: 16px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%);
}

.layer.is-show {
  display: block;
}

.layer .layer-inner {
  height: 100%;
  padding: 30px 24px;
}

.layer .header {
  position: relative;
}

.layer .header .name {
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
}

.layer .content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

.layer .content .group {
  flex: 0 0 calc(50% - 8px);
  border-radius: 8px;
}

.group.group-thumb {
  min-height: 273px;
  padding: 36px;
  background-color: #F2F2F2;
}

.group .info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  background-color: #30a7d7;
  color: var(--color-white);
}

.group .info .item {
  flex: 0 0 calc(50% - 8px);
}

.group .info .item .key {
  font-size: 14px;
}

.group .info .item .value {
  margin-top: 4px;
}

.group-small {
  margin-top: 16px;
}

.group-small .title {
  margin-bottom: 8px;
  font-size: 18px;
}


.group-info .types {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.group-info .type {
  flex: 0 0 calc(33.33% - 4px);
  height: 32px;
  font-size: 16px;
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 36px;
  height: 36px;
  border: none;
  font-size: 24px;
}

.dimmed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.dimmed.is-show {
  display: block;
}

.btn-top {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  background-image: url(../public/images/icon-top.png);
  background-size: cover;
  transition: 0.2s;
}

.btn-top.is-show {
  display: block;
}

.btn-top:hover {
  transform: translateY(-10px);
}